@model IEnumerable<MiIngresoHitss.Data.Venta>

@{
    ViewData["Title"] = "Index";
}

<h1>Nuestras Ventas</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductoID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClienteID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaVenta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cantidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Total)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductoID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClienteID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaVenta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cantidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Total)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.VentaID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.VentaID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.VentaID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
